.search-bar-container {
  padding: var(--app-padding);
  background-color: #EEE5DD;
}

.search-bar {
  height: 45px;
  padding: 8px;
  width: 100%;
  background-color: #E6DAD3;
  border-bottom: 1px solid var(--color-swatch-1);
  border-top-left-radius: var(--app-corner-radius);
  border-top-right-radius: var(--app-corner-radius);
  display: flex;
  flex-direction: row;
}

.search-bar>* {
  flex: 1 auto;
}

.currency,
.currency-flag {
  vertical-align: middle;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
}

.search-bar input {
  background: transparent;
  border: none;
  line-height: 1;
  font-size: 20px;
  padding-left: 7px;
}
